<div>
  <div>
    <h2>{{}}</h2>
    <p>Posted By {{}} on {{}}</p>
  </div>
  <div>{{}}</div>
</div>
<div>
  <div>
    <h3>Comment</h3>
  </div>
  <form>
    <input type="text"></input>
    <button>Create</button>
  </form>
</div>