<div>
  <div>
    <h2>Create New Post</h2>
  </div>
  <form class="new-project-form">
    <div>
    <label for="title">Title:</label>
    <input id="post-title" type="text"></input>
    </div>
    <div>
      <label for="content">Content</label>
      <input id="post-content" type="text"></input>
    </div>
    <button type="submit">Submit</button>
  </form>
</div>

<script src="./js/createPost.js"></script>