<h2>Welcome {{name}}</h2>
<div class="posts-list">
{{#each profilePosts as |pPost|}}
<div>
  <h2>{{pPost.title}}</h2>
</div>
{{/each}}
</div>
<a href="/api/users/create">Create Post</a>

<script src="./js/dashboard.js"></script>