<div>
  <h2>Login</h2>
  <form>
    <div>
      <label for="email">Email:</label>
      <input type="text"></form>
    </div>
     <div>
      <label for="password">Password:</label>
      <input type="text"></form>
    </div>
    <div>
      <button>Login</button>
    </div>
    <a href="/signup"></a>
  </form>
</div>