<div>
  <h2>Login</h2>
  <form>
    <div>
      <label for="email">Email:</label>
      <input id="email-login" type="text"></form>
    </div>
     <div>
      <label for="password">Password:</label>
      <input id="password-log" type="text"></input>
    </div>
    <div>
      <button class="btn" type="submit">Login</button>
    </div>
    <a href="/signup"></a>
  </form>
</div>

<script src="./js/login.js"></script>
