<div>
  <h2>Sign U</h2>
  <form>
    <div>
      <label for="email">Email:</label>
      <input type="text"></form>
    </div>
     <div>
      <label for="password">Password:</label>
      <input type="text"></form>
    </div>
    <div>
      <button>Sign Up</button>
    </div>
    <a href="/login"></a>
  </form>
</div>