<div>
  <h2>Sign U</h2>
  <form class="signup-form">
     <div>
      <label for="name">Name:</label>
      <input id="name-signup" type="text"></form>
    </div>
    <div>
      <label for="email">Email:</label>
      <input id="email-signup" type="text"></form>
    </div>
     <div>
      <label for="password">Password:</label>
      <input id="password-signup" type="text"></form>
    </div>
    <div>
      <button type="submit">Sign Up</button>
    </div>
    <a href="/login"></a>
  </form>
</div>
<script src="/js/signup.js"></script>
